

/*-------------- Start device screen 1440 --------------*/
@media screen and (max-width: 1440px) {

    .about-1::before {
        top: -18%;
        left: -15%;
    }
}



/*-------------- Start device screen 1366 --------------*/

@media screen and (max-width: 1366px) {
    .hero-content::after {
        right: 0;
    }
    .crypto-payment::after {
        bottom: -42%;
        right: -10%;
        z-index: -99;
    }
    .crypto-payment::before {
        top: 6%;
        right: 2%;
    }
    .how-it-work-section::before {
        font-size: 186px;
        top: -2%;
    }
    .testimonial-card .content p {
        font-size: 22px;
    }
}

/*-------------- Start device screen 1024 --------------*/

@media screen and (max-width: 1024px) {
    .header nav ul li:not(:last-child) {
        margin-right: 40px;
    }
    .btn.trial-btn {
        min-width: 130px;
        height: 50px;
        line-height: 50px;
    }
    .hero-content h1{
        font-size: 50px;
    }
    .section-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .crypto-payment-right {
        padding-left: 0;
    }
    .crypto-payment::before {
        top: 3%;
    }
    .crypto-payment::after {
        bottom: -48%;
    }
    .how-it-work-section::before {
        font-size: 141px;
    }
    .btn-group-area a img {
        width: 44%;
    }
    .btn-group-area a.app-btn-1{
        margin-right: 10px;
    }
    .about-1::before {
        left: -32%;
    }
    .about-1 {
        padding: 100px 0 50px;
    }
    .pricing {
        padding: 100px 0;
    }
    .contect-left {
        padding-left: 70px;
    }
    .contact-form {
        padding: 40px 30px;
        border-radius: 35px;
    }
    .contact .contact-info li {
        font-size: 18px;
    }
    .contact {
        padding: 100px 0;
    }
    .footer-note {
        padding: 23px;
    }
}

/*-------------- Start device screen 991 --------------*/

@media screen and (max-width: 991px) {
    .hero-content::after{
        display: none;
    }
    .slicknav_menu {
        background: transparent;
        padding: 0;
    }
    .slicknav_menu .slicknav_menutxt {;
        display: none;
    }
    .slicknav_btn {
        margin: 0;
        text-shadow: none;
        background-color: transparent;
        border: 1px solid #f8fcff;
        position: absolute;
        right: 25px;
        top: 50px;
    }
    .slicknav_menu .slicknav_icon {
        margin: 0;
    }
    .slicknav_nav {
        background: #163049;
        margin-top: 15px;
    }
    .slicknav_nav a {
        text-transform: capitalize;
        padding: 8px 20px;
    }
    .crypto-payment {
        padding: 50px 0;
    }
    .crypto-payment::before{
        display: none;
    }
    .section-title {
        margin-bottom: 50px;
        padding: 0 60px;
        text-align: center;
    }
    .crypto-payment::after{display: none;}
    .benifits {
        padding: 50px 0;
    }
    .benifit-card:first-child {
        right: 0;
    }
    .benifit-card:nth-child(2) {
        transform: translateY(0);
    }
    .benifit-card:last-child {
        left: 0;
    }
    .benifit-card-row {
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .benifit-card {
        padding: 30px 15px;
        width: 45%;
        margin: 15px;
    }
    .counter-inner {
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .single-counter .counter {
        font-size: 36px;
        line-height: 1;
    }
    .single-counter {
        width: 50%;
        background: none;
        height: auto;
        padding: 10px;
    }
    .single-counter p {
        color: #ffffff;
    }
    .how-it-work-section::before{
        display: none;
    }

    .faq,
    .guide,
    .pricing,
    .about-1,
    .testimonial,
    .counter-area {
        padding: 50px 0;
    }
    .how-it-work-section {
        padding-bottom: 50px;
    }
    .testimonial-card .img::after{
        display: none;
    }

    .guide img{
        width: 300px;
    }
    .contact .section-title,
    .faq-right .section-title,
    .guide .section-title {
        padding: 0;
        text-align: left;
    }
    .guide-right {
        padding-left: 0;
    }
    .section-title-style{
        padding-bottom: 15px !important;
    }
    .contect-left {
        padding-left: 0;
    }
    .footer-note p {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .top-footer ul li:not(:last-child) {
        margin-bottom: 15px;
    }
    .footer {
        padding-top: 50px;
    }
    .top-footer {
        padding: 50px 0;
    }
}

/*-------------- Start device screen 768 --------------*/

@media screen and (max-width: 768px) {}

/*-------------- Start device screen 425 --------------*/

@media screen and (max-width: 425px) {
    .btn.trial-btn {
        display: none;
    }
    .slicknav_btn {
        background-color: #0b384e;
        border: 1px solid #0b384e;
    }
    .hero-content {
        padding: 50px 0;
    }
    .section-title {
        padding: 0;
    }
    .benifit-card {
        width: 100%;
    }
    .testimonial-card .content p {
        font-size: 16px;
    }
    .testimonial-card:first-child .content {
        margin-left: 0;
    }
    .testimonial-card:last-child .content {
        margin-right: 0;
    }
    .testimonial-card {
        display: block;
    }
    .testimonial-card .content{
        text-align: center;
    }
    .testimonial-card .img {
        width: 100px;
        height: 100px;
        display: table;
        margin: auto;
        margin-bottom: 15px;
    }
    .testimonial-card .content h5 {
        font-size: 20px;
        font-weight: 600;
        color: #ffd35a;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .testimonial-card:last-child{
        margin-top: 50px;
    }
    .testimonial-card:last-child .img{
        margin-top: 15px;
    }
    .testimonial .owl-theme .owl-dots, .testimonial .owl-theme .owl-nav {
        text-align: center;
    }
    .about-1::before{
        display: none;
    }
    .about-1 .about-1-right {
        padding-left: 0;
        text-align: center;
    }
    .guide img {
        display: table;
        margin: 0 auto 30px;
    }
    .guide-left,
    .guide-right {
        text-align: center !important;
    }
    .guide-right{
        margin-bottom: 50px;
    }
    .guide-left {
        padding-right: 0;
    }
    .guide .section-title {
        text-align: center;
    }
    .faq-right {
        padding-left: 0;
    }
    .faq-right h5 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contact-form textarea.form-control {
        height: 175px;
    }
    .footer-note p {
        font-size: 16px;
    }
    .tabs-content .nav {
        margin-bottom: 40px;
    }
}

/*-------------- Start device screen 375 --------------*/

@media screen and (max-width: 375px) {
    .hero-content h1 {
        font-size: 34px;
    }
    .hero-content p {
        font-size: 18px;
        margin: 30px 0;
    }
    .section-title {
        font-size: 18px;
    }
    .contact-form::after{
        display: none;
    }
    .contact-form textarea.form-control {
        margin-bottom: 30px;
    }
    .contact-form {
        padding: 30px 15px 15px;
        border-radius: 15px;
    }
    .guide::after{
        display: none;
    }
    .faq-right p {
        font-size: 16px;
    }
}

/*-------------- Start device screen 320 --------------*/

@media screen and (max-width: 320px) {}